{% extends 'base.html' %}


{% block content %}
<div class="container">
	<br>
	{% if user.is_authenticated %}
	{% if user.id == profile.user.id %}
	<h1>Edit Profile</h1> <br>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{form.media}}
		{{form.as_p}}
		<button class="btn btn-primary">Edit Profile</button>
	</form>
	{% else %}
		
	{% endif %}
		<h3>You are not the right person to edit this page.</h3> 
	{% else %}
		<h3>You are not supposed to be here and you know it.</h3> 
	{% endif %}
</div>
{% endblock %}